{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Account Registration</title>
    <link rel="stylesheet" href="{%static 'CSS/register-style.css'%}">
</head>
<body>
    <div class="signup-box"> </div>
    <h1> Register </h1>
    <form action = "register" method="post" id = "registration">
        {% csrf_token %}
        <!-- <input type = "text" name = "first name" placeholder="First Name"><br>
        <input type = "text" name = "last name" placeholder="Last Name"><br> -->
        <label>Username</label>
        <input type = "text" name = "username" placeholder=""><br>
        <label>Email</label>
        <input type = "email" name = "email" placeholder=""><br>
        <label>Password</label>
        <input type = "password" name = "Password_1" placeholder=""><br>
        <label>Cofrim Password</label>
        <input type = "password" name = "Password_2" placeholder=""><br>
        <button class="btn" type = "submit" form = "registration" value = "Submit">Submit</button>    
    </form>

    <div>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor %}

    </div>
</body>
</html>